.moveInUp-enter-active{
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn{
  0%{ opacity: 0; } 50%{ opacity: 0.5; } 100%{ opacity: 1; }
}
.moveInUp-leave-active{
  animation: moveInUp .3s ease-in;
}
@keyframes moveInUp{
  0%{ transform: translateY(0); } 100%{ transform: translateY(-400px); }
}